version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vesta-web  # Sin guiones bajos
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      API_URL: http://vesta-api:8080/api  # Actualizado
    networks:
      - vesta_net

networks:
  vesta_net:
    external: true
    name: vesta_network_shared