version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vesta_web_container
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      # URL INTERNA: Para llamadas de servidor a servidor (Docker -> Docker)
      API_URL: http://vesta_api_container:8080/api
    networks:
      - vesta_net # Se une a la misma red

# USO DE LA RED EXTERNA
networks:
  vesta_net:
    external: true
    name: vesta_network_shared # <--- TIENE QUE COINCIDIR CON LA API